<!doctype html>
<html>
<head> 
  <title>Neetfish Donate Page</title>

  <meta lang="zh-Hant-TW">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>

  
</head>
<body ng-app="myApp">
  <nav class="navbar navbar-inverse " role="navigation">
    <div class="container">
      <a class="navbar-brand" href=".">
        <span class="hidden-xs">Donate for Neetfish.org</span>
        <span class="visible-xs-inline">Donate for Neetfish.org</span>
      </a>
    </div>
  </nav>

  <div class="main" ng-controller="MainController"><div class="container">
    <div class="row">
      <div class="col-lg-9">
        <!-- donate remain money -->
        <div class="row">
          <div class="col-md-6">
            <strong><p class="text-right" style="font-size: 196px"><small style="font-size: 64px">remain: </small>$</p></strong>
          </div>
          <div class="col-md-6">
            <strong><p class="text-left" style="font-size: 196px; color: #00008b" ng-bind="donateMsg.totalmoney"></p></strong>
          </div>
        </div>

        <!-- Button trigger modal -->
        <div class=row>
          <div class="col-lg-offset-3 col-lg-9"><center>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Soul Sacrifice
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancelDonate"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  </div>

                  <form name="donateForm" method="POST" action="http://custommaid3d2.net:8888/donate" target="_blank" class="form-horizontal" role="form">
                    <div class="modal-body" ng-hide="donating">
                      <center>
                        <h4>你要獻上的靈魂嗎?</h4>
                      </center>
                    </div>

                    <div class="modal-body" ng-show="donating">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-5">
                          <input type="text" name="name" ng-model="dname" class="form-control" placeholder="安安~你的名字" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Donate Amount</label>
                        <div class="col-sm-5">
                          <input type="number" name="money" ng-model="money" class="form-control" placeholder="給錢 快給錢" />
                        </div>
                      </div>
                      <div class="row"><div class="col-sm-offset-4 col-sm-8">
                        <p class="text-left" style="color:#848484"><small>(使用信用卡有2.8%(最低5元)的手續費不會算入金額倒數)</small></p>
                      </div></div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Donate Message</label>
                        <div class="col-sm-5">
                          <textarea name="msg" ng-model="msg" class="form-control" rows="3" placeholder="給你三十字個講垃圾話"></textarea>
                        </div>
                      </div>
                      <!--<input type="submit" class="btn btn-default" value="Donate" />-->

                      <div class="alert alert-danger" role="alert" ng-show="alerting">
                        <div class="row">
                          <div class="col-lg-4"><strong>[Warning!]</strong></div>
                          <div class="col-lg-4"><span class="text-left" ng-bind="errorMsg"></span></div>
                        </div>
                      </div>
                    </div>

                    

                    <div class="modal-footer">
                      <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDonate()">No</button>
                        
                        <button type="button" class="btn btn-primary" ng-hide="donating" ng-click="doDonate()">Yes, I will.</button>

                        <!--<input type="submit" class="btn btn-primary" value="Donate" ng-show="donating" ng-click="submit()"/>-->
                        <button type="button" class="btn btn-primary" ng-click="submit()" ng-show="donating">Donate</button>
                      </center>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
          </center></div>
        </div>
        <!-- Modal -->

        
        <div class="row">
          <div class="col-lg-offset-3 col-lg-9">
            <hr>
            <img src="img/neetfishorg1.jpg" class="img-responsive" />
            <img src="img/neetfishorg2.jpg" class="img-responsive" />
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <center>
          <h2>贊助者排名</h2>
          <ul class="list-group" ng-repeat="donater in donateMsg.donaters">
            <li class="list-group-item">
            <p style="font-size: 20px"><strong><span ng-bind="donater.index"></span>.</strong> <span ng-bind='donater.name'></span> NT<span ng-bind="donater.money | currency"></span></p>
            <p ng-bind="donater.msg"></p>
            </li>
          </ul>
        </center>
      </div>

    </div>
    
  </div></div><!-- <main><container> -->

  <div class="footer">
    <div class="container">      
    </div>
  </div>
<!-- Library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script src="https://cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Modules -->
<script src="js/app.js"></script>
<!-- Controllers -->
<script src="js/controllers/MainController.js"></script>
<!-- Directives -->
<script src="js/services/websocket.js"></script>
</body>
</html>
